@using LAB4_NETD3202_ANDRE_AGRIPPA.Models
<!--
Name: Andre Agrippa
Date: 11/17/2020
File: Appraise.cshtml
-->
@{
    ViewData["Title"] = "Appraise";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook!</title>
</head>
<body>
    <h2 style="text-align: center">Student4CheapTexts<img id="img_logo" alt="Logo" src="~/Images/beach-book.jpg" width="100" height="100" /></h2>
<ul>
    <li><a class="active" href="~/Home/Index">Home</a></li>
    <li><a href="~/Home/Appraise">Appraise</a></li>
    <li><a href="~/Home/ViewAppraisals">ViewAppraisals</a></li>
</ul>
<form action="~/Home/Appraise" method="POST">
    <label for="title">Textbook Title:</label>
    <input type="text" id="title" name="title" placeholder="">
    <br/>
    <label for="isbn">Textbook ISBN:</label>
    <input type="text" id="isbn" name="isbn" placeholder="">
    <br/>
    <label for="version">Textbook Version</label>
    <input type="text" id="version" name="version" placeholder="">
    <br/>
    <label for="price">Original Purchase Price</label>
    <input type="text" id="price" name="price" placeholder="">
    <br/>
    <label for="Condition">Condition:</label>
    <select name="Condition" id="Condition">
        <option value="LikeNew">LikeNew</option>
        <option value="Good">Good</option>
        <option value="Bad">Bad</option>
    </select>
    <input type="submit" value="Appraise">
</form>
</body>
</html>