@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appraise Your Textbook!</title>
    <h2 style="text-align: center">Student4CheapTexts</h2>
</head>
<form style ="text-align: center">
    <button name="btnHome" class="btn btn-lg btn-primary btn-block" type="submit">Home</button>
    <button name="btnAppraise" class="btn btn-lg btn-primary btn-block" type="submit">Appraise</button>
</form>
<body>
<p><img id="img_logo" alt="Logo" src="../Home/Images/beach-book.jpg" /></p>

<p style="text-align: center">
    Student4CheapTextbooks is a student group focused on bringing you the cheapest possible price for a textbook. <br/>
    Did you know that the average student spends $600 on textbooks per semester. Our focus is to try and bring that down.<br/>
    If you have a used textbook to sell, click on the appraise button in the nav bar above and we will get you a price!
</p>
<form style="text-align: center">
    <label name="lblTextbookTitle">Textbook Title</label>
    <textarea name="txtAppraise"></textarea>
</form>
</body>
</html>